<div id="message_box">
</div>
<div id="login_form">
  <p>
    <label>Username</label>
    <input type="text" id="username"/>
  </p>
  <p>
    <label>Password</label>
    <input type="password" id="password"/>
    <input type="checkbox" id="showpass"/>
  </p>
  <button id="login">Login</button>
  <button id="adduser">AddUser</button>
  <p>
    <label id="error_msg"></label>
  </p>
</div>
<div id="logout_form">
  <p>
    <button id="logout">Logout</button>
  </p>
</div>
